﻿@using GeekLab.ViewModels.Category
@model IndexViewModel
@section Styles{
<link href="~/lib/dataTable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/lib/dataTable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
}
<div class="container">
    <div class="row my-2">
        <div class="col-12">
            <a href="#" id="addCategory" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                Add Category
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="categoryTable"
                   data-get-url="@Url.Action(nameof(CategoryController.GetCategory)
                                ,nameof(CategoryController).ToActionName())"
                   data-remove-url="@Url.Action(nameof(CategoryController.RemoveCategory)
                                ,nameof(CategoryController).ToActionName())"
                   class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Products count</th>
                        <th>Stores count</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        @await Html.PartialAsync(PathsViews._CategoryRow, category)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Modals{
    @await Html.PartialAsync(PathsViews._CategoryFormModel)
}

@section Scripts{
    <script src="~/lib/dataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/dataTable/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/dataTable/js/responsive.bootstrap4.min.js"></script>
    <script type="module" src="~/js/views/category/index.js">
    </script>
}