﻿
@using GeekLab.ViewModels.Account
@model LoginViewModel
<div class="container">

    <div class="row">
        <div class="col">

            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-12">
                        <div class="featured-box featured-box-primary text-left mt-5" style="height: 381.44px;">
                            <div class="box-content">
                                <h4 class="heading-primary text-uppercase mb-3">Login to GeekLab</h4>
                                <form asp-controller="Account" asp-action="Login"
                                      id="frmSignIn"
                                      method="post">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Username or E-mail Address</label>
                                            <input asp-for="UserName" type="text" value="" class="form-control form-control-lg">
                                            <span asp-validation-for="UserName"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Password</label>
                                            <input asp-for="Password" type="password" class="form-control form-control-lg">
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberme" name="rememberme"> Remember Me
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="submit" value="Login" class="btn btn-primary float-right mb-5">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>