﻿@using GeekLab.ViewModels.Base
@model GeekLabViewModel
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Geeklab</title>
    @await Html.PartialAsync(PathsViews._SharedStyles)
    @RenderSection(Sections.Styles, required: false)
    <script src="~/lib/modernizr/modernizr.min.js"></script>

</head>
<body>
    <div class="body">
        @await Html.PartialAsync(PathsViews._Header)

        <div role="main" class="main">
            @await Html.PartialAsync(PathsViews._PageHeader, Model)
            @RenderBody()
        </div>
        @await Html.PartialAsync(PathsViews._Footer)
    </div>

    @RenderSection(Sections.Modals, required: false)
    @await Html.PartialAsync(PathsViews._SharedScripts)
    @RenderSection(Sections.Scripts, required: false)

</body>
</html>