﻿<footer id="footer" class="background-color-light border-0 mt-0">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-0">
                <ul class="social-icons social-icons-dark">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright background-color-light border-0 mt-0 mb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center text-muted">© Copyright 2018 by Okler. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
