﻿@using GeekLab.ViewModels.Base
@model GeekLabViewModel
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>@Model.PageTitle</h1>
            </div>
        </div>
    </div>
</section>