﻿
 <!-- Vendor -->
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery.appear/jquery.appear.min.js"></script>
<script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
<script src="~/lib/jquery-cookie/jquery-cookie.min.js"></script>
<script src="~/lib/popper/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/common/common.min.js"></script>
<script src="~/lib/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="~/lib/isotope/jquery.isotope.min.js"></script>
<script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
<script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="~/lib/vide/vide.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="~/js/theme/theme.js"></script>

<!-- Theme Custom -->
<script src="~/js/theme/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme/theme.init.js"></script>


<script src="~/lib/iziToastr/js/iziToast.min.js"></script>