﻿<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/lib/animate/animate.min.css">
<link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.min.css">
<link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="~/lib/magnific-popup/magnific-popup.min.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="~/css/theme/theme.css">
<link rel="stylesheet" href="~/css/theme/theme-elements.css">
<link rel="stylesheet" href="~/css/theme/theme-blog.css">
<link rel="stylesheet" href="~/css/theme/theme-shop.css">

<!-- Skin CSS -->
<link rel="stylesheet" href="~/css/theme/default.css">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="~/css/theme/custom.css">
<link href="~/css/site.css" rel="stylesheet" />

<link href="~/lib/iziToastr/css/iziToast.min.css" rel="stylesheet" />
