﻿@using GeekLab.ViewModels.Store
@model StoreFormViewModel

@section Styles{ 
<link href="~/lib/mapbox/css/mapbox-gl.css" rel="stylesheet" />
}
<div class="container">
    <h2>Store Form</h2>
    <form method="post"
          asp-controller="Store"
          asp-action="StoreForm">
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name"
                       class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId"
                        class="form-control">
                    @foreach (var categoryDto in Model.Categories)
                    {
                        <option value="@categoryDto.Id">@categoryDto.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Address">Address</label>
                <textarea asp-for="Address"
                          class="form-control">
                </textarea>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit"
                        class="btn btn-info float-right">
                    Save
                </button>
            </div>
        </div>
        <input asp-for="Id" />
        <input asp-for="Latitude" />
        <input asp-for="Longitude" />
    </form>
</div>

@section Scripts{ 
    <script src="~/lib/mapbox/js/mapbox-gl.js"></script>
    <script src="~/js/views/store/storeForm.js"></script>
}