﻿<div class="home-intro" id="home-intro">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-8">
                <p>
                    The fastest way to create your new and awesome <em>Website</em>
                    <span>Check out our options and features included.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <a href="#demos" data-hash class="btn btn-primary mr-3 appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="300">SEE DEMO VERSIONS</a> <span class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="600">or <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987">PURCHASE NOW - $16</span></a>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="word-rotator-title mb-2">
                Porto is the <strong>
                    most <span class="word-rotator" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
                        <span class="word-rotator-items">
                            <span>popular</span>
                            <span>awesome</span>
                            <span>incredible</span>
                        </span>
                    </span>
                </strong> HTML Site template on ThemeForest.
            </h2>
            <p class="lead">Trusted by over 25,000 satisfied users, Porto is a huge success<br>in the of one of the world’s largest MarketPlace.</p>
        </div>
    </div>

    <div class="row mt-5 counters counters-text-dark">
        <div class="col-lg-3 col-sm-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                <i class="fa fa-user"></i>
                <strong data-to="25000" data-append="+">0</strong>
                <label>Happy Clients</label>
                <p class="text-color-primary mb-5">They can’t be wrong</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                <i class="fa fa-desktop"></i>
                <strong data-to="19">0</strong>
                <label>Premade HomePages</label>
                <p class="text-color-primary mb-5">Many more to come</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
                <i class="fa fa-ticket"></i>
                <strong data-to="2500" data-append="+">0</strong>
                <label>Answered Tickets</label>
                <p class="text-color-primary mb-5">Satisfaction guaranteed</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
                <i class="fa fa-clock-o"></i>
                <strong data-to="3000" data-append="+">0</strong>
                <label>Development Hours</label>
                <p class="text-color-primary mb-5">Available to you for only $16</p>
            </div>
        </div>
    </div>

</div>