﻿@using GeekLab.ViewModels.Product

@model IndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 form-group m-4">
            <input class="form-control" placeholder="Search for products ..." />
        </div>
    </div>
    <div id="resultsContainer">
        @await Html.PartialAsync(PathsViews._ProductsResults, Model)
    </div>
</div>

@section Scripts{
    <script src="~/js/views/product/index.js"></script>
}