﻿@using GeekLab.ViewModels.Product
@using GeekLab.SharedKernal.Data.Enums
@model ProductFormViewModel
<div class="container">
    <h2>Product Form</h2>
    <form method="post"
          asp-controller="Product"
          asp-action="SaveProduct">
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name"
                       class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="SelectedCategory">Category</label>
                <select asp-for="SelectedCategory"
                        asp-items="Model.Categories"
                        class="form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="SelectedProductCondition">Product Condition</label>
                <select asp-for="SelectedProductCondition"
                        asp-items="@Html.GetEnumSelectList<ProductCondition>()"
                        class="form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="AddDate"></label>
                <input asp-for="AddDate"
                       class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="descriptionTextarea">Description</label>
                <textarea id="descriptionTextarea"
                          asp-for="Description"
                          class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="ShowProduct">Show</label>
                <input asp-for="ShowProduct" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit"
                        class="btn btn-info float-right">
                    Save
                </button>
            </div>
        </div>
        <input asp-for="Id" />
    </form>
</div>