﻿@using GeekLab.ViewModels.Category.Partial
<div id="categoryFormModal"
     class="modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="categoryForm"
                  method="post"
                  asp-controller="Category"
                  asp-action="CategoryForm">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Name</label>
                            <input id="categoryFormModalName" class="form-control" name="@nameof(CategoryFormViewModel.Name)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="categoryFormModalSaveBtn"
                            type="button" class="btn btn-primary">
                        <i class="fas fa-save btn-icon"></i>
                        <i style="display:none"
                           class="fas fa-cog fa-spin btn-loading-icon"></i>
                        <span class="btn-text">Save</span>
                    </button>
                </div>
                <input id="categoryFormModalId" type="hidden"
                       name="@nameof(CategoryFormViewModel.Id)" />
            </form>
        </div>
    </div>
</div>