﻿@using GeekLab.Commerce.Dto.Category
@model CategoryDto
<tr data-id="@Model.Id">
    <td class="categoryName">@Model.Name</td>
    <td>@Model.ProductsCount</td>
    <td>@Model.StoresCount</td>
    <td>
        <a class="btn btn-info btn-sm edit-category"
           data-toggle="tooltip"
           href="#"
           data-placement="top"
           title="Edit category">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-danger btn-sm remove-category"
           data-toggle="tooltip"
           data-placement="top"
           href="#"
           title="Remove category">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>