﻿@using GeekLab.Commerce.Dto.Product
@model ProductDto
@{ 
    var productImage = string.IsNullOrEmpty(Model.ImageUrl) ? DefaultUrls.DefaultProductImageUrl : Model.ImageUrl;
}
<div class="col-md-4 product my-4">
    @if (Model.PostsCount > 0)
    {
        <a asp-controller="Product"
           asp-action="ViewProductPosts"
           asp-route-id="@Model.Id">
            <span class="onsale">@Model.PostsCount</span>
        </a>
    }
    <span class="product-thumb-info">
        <a asp-controller="Product"
           asp-action="ViewProduct"
           asp-route-id="@Model.Id">
            <span class="product-thumb-info-image">
                <span class="product-thumb-info-act">
                    <span class="product-thumb-info-act-left"><em>View</em></span>
                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                </span>
                <img alt="" class="img-fluid" src="@productImage">
            </span>
        </a>
        <span class="product-thumb-info-content">
            <a asp-controller="Product"
               asp-action="ViewProduct"
               asp-route-id="@Model.Id">
                <h4 class="heading-primary">@Model.Name</h4>
                <span class="price">
                    <ins><span class="amount">@Model.AddDate.ToString("dd/MM/yyyy")</span></ins>
                </span>
            </a>
        </span>
    </span>
</div>