﻿@using GeekLab.ViewModels.Product
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@model IndexViewModel

<div class="row">

    @foreach (var product in Model.PageResult.Results)
    {
        @await Html.PartialAsync(PathsViews._ProductCard, product)
    }
</div>
<div class="row">
    @Html.PagedListPager(Model.ProductPagedList, page =>
                Url.Action(nameof(ProductController.Index),
                nameof(ProductController).ToActionName()
                , new { pageNumber = page }),
                new PagedListRenderOptions
                     {
                LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
        })
</div>